@page "{searchString?}"

@model Journal.Pages.Scriptures.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        Keyword: <input type="text" asp-for="SearchString" />
        <select asp-for="SearchBook" class="select-book">
            <option value="">All Books</option>
            @foreach (var book in Model.Books)
            {
                <option value="@book.Title">@book.Title</option>
            }
        </select>
        <input type="submit" value="Filter" />
        <select asp-for="SortBy" >
            <option value="all">Sort</option>
            <option value="desc">Desc</option>
            <option value="asc">Asc</option>
        </select>

    </p>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Book
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].Chapter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].Verse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.ScriptureWithBook)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chapter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Verse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>